<div class="slides">
   <div class="slide" [ngStyle]="{'background-image':'url(' + slides[currentSlide].url + ')', 'opacity' : hidden ? 0 : 1  }">
      
      @if(indicatorsVisibility){
      <div class="indicators" >
         @for(slide of slides;track $index){
         <div class="indicator"  (click)="jumpToSlide($index)" [ngClass]="{active : $index == currentSlide}"></div>
         }
      </div>}


      <button (click)="next()" class="next-button"><fa-icon [icon]="faArrowRight"></fa-icon></button>
      <button (click)="previous()" class="previous-button"><fa-icon [icon]="faArrowLeft"></fa-icon></button>


   </div>

</div>