<div class="megamenu" [class.open]="isOpen">
    <div class="menu-column">
        <h4>Electrocasnice mari</h4>
        <a href="#">Frigidere</a>
        <a href="#">Mașini de spălat</a>
        <a href="#">Aragazuri</a>
        <a href="#">Cuptoare</a>
    </div>
    <div class="menu-column">
        <h4>Electrocasnice mici</h4>
        <a href="#">Cafetiere</a>
        <a href="#">Mixere</a>
        <a href="#">Friteuze</a>
        <a href="#">Aspiratoare</a>
    </div>
    <div class="menu-column">
        <h4>Electronice</h4>
        <a href="#">Televizoare</a>
        <a href="#">Audio</a>
        <a href="#">Cabluri</a>
    </div>
    <div class="menu-column">
        <h4>Promo & Info</h4>
        <a href="#">Reduceri</a>
        <a href="#">Noutăți</a>
        <a href="#">Garanție</a>
        <a href="#">Retur</a>
    </div>
</div>