<div class="product-page forTest">
    <div class="breadcrumb-wrapper">
        Racire, Purificare aer, Incalzire/Aparate racire aer/Aer conditionat/

    </div>
    <div class="title">
        {{product.name}}
    </div>
    <div class="main-wrapper">
        <div class="images-wrapper forTest">i mages</div>
        <div class="info-wrapper">
            <p>{{product!.description}}</p>
            <h1 style="display: inline">{{product!.description}}</h1>
        </div>
    </div>
    <div class="category-list">lista de produse din aceiasi categorie</div>

    
</div>