<div class="right-item">
    <a href="" >
        <i class="fa-solid fa-heart"></i>
        <div class="item">Wishlist</div>
    </a>
</div>
<div class="right-item">
    <a href="">
        <i class="fa-solid fa-not-equal"></i>
        <div class="item">Compari</div>
    </a>
</div>
<div class="right-item">
    <a href="">
        <i class="fa-solid fa-cart-shopping"></i>
        <div class="item">Cart</div>
    </a>
</div>
<div class="right-item forTest" (mouseenter)="authDropdownVisibility = true "
 (mouseleave)=" authDropdownVisibility = false">
    <a href="">
        <i class="far fa-user"></i>
        <div class="item">
            Login
        </div>
    </a>
    <div>
        <app-auth-dropdown [isOpen]="authDropdownVisibility"></app-auth-dropdown>
    </div>
</div>