<div class="card-wrapper forTest">
    <div class="img forTest"><img src="https://placehold.co/250x200?text=Produs+Placeholder" alt="Imagine produs" />
    </div>
    <div class="center-info forTest">
        <div class="card-title">
            <h2>{{product.name}}</h2>
        </div>
        <div class="card-desc">
            <h4>{{product.description}}</h4>
        </div>
    </div>
    <div class="price-info-wrapper">
        <div class="quantity"></div>
        <div class="price">
            <h3>Price</h3>
            <h4>{{product.price}} lei</h4>
        </div>
    </div>
    <div class="delete-wrapper">
        <button>Delete from Cart</button>
    </div>
</div>